

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Section -->
  <link rel="stylesheet" href="/Content/app.css">
  <title>MDEV1012 Portfolio</title>
</head>
<body>
  <div class="container">
    <h1> Welcome to my Portfolio Site!</h1>
  </div>
  <!-- Script Section -->
  <script src="/Scripts/app.js"></script>
</body>
</html>
